@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Carregue seu carro elétrico através da nossa plataforma!</h1>
    <p> Uma plataforma para recarregar seu carro elétrico em empresas parceiras, adquirir pontos e trocá-los por premiações.</p>
    <p> Como usuário, você pode realizar seu cadastro, adicionar seus veículos, e realizar a compra de créditos para recarregar seu veículo com uma empresa parceira. Em troca você acumula pontos e com eles resgata recompensas.</p>
    <p> Como empresa, é possível cadastrar-se como uma de nossas parceiras, e anunciar seus postos de recarga.</p>
</div>
